@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f5f5f7];
  }
}

@layer components {
  .image {
    @apply transform-none object-cover;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.25, 1) 0ms,
      opacity 1s cubic-bezier(0.4, 0, 0.25, 1) 0ms;
  }
}
